version: '3.9'

services:
  backend:
    image: 022232268930.dkr.ecr.ap-south-1.amazonaws.com/test-backend:latest
    container_name: test-backend
    ports:
      - "3000:3000"
    restart: unless-stopped
    environment:
      PORT: ${PORT}
      DB_HOST: ${DB_HOST}
      DB_PORT: ${DB_PORT}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      DB_DATABASE: ${DB_DATABASE}
      REDIS_HOST: ${REDIS_HOST}
      REDIS_PORT: ${REDIS_PORT}
      CACHE_TTL: ${CACHE_TTL}
